body {
    font-family: sans-serif;
}

header {
    background-color:rgb(140, 238, 241);
    padding:10px;
    border-radius: 10px;
    color: navy;
}

header a {
    background-color: white;
    padding: 5px;
    border-radius:8px;
    text-decoration:none;
}

h1 {
    color: rgb(204, 0, 204);
    text-align: center;
}


footer p {
    background-color: rgb(14, 119, 0);
    padding: 5px;
}

.a1 {
    background-color: rgb(224, 0, 0);
    padding: 10px;
    border-radius: 10px;
}

.cac {
    color: blue;
}
